
<%- include('nav.ejs') %>
<div id="main-container-add-form">
<% if(locals.errorMssg){ %>
    <p id="err-mssg"> <%= errorMssg %> </p>
<% } %>

<span></span>
<%if(locals.isEdit){ %>
<% var route = "/edit-product-save"; %>
<% }else{ %>
<% var route = "/add-product-save";%>
<% } %>
<form action=<%= route %> method="post">
    <% if(locals.product_id){ %>
        <input type="hidden" name="id" value =<%= product_id %> >
    <% } %>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <% if(locals.name){ %>
            <input type="text" class="form-control" id="name" name="name" 
            minlength="3" value = <%=name %> >
        <% }else{ %>
            <input type="text" class="form-control" id="name" name="name" 
            minlength="3"/>
        <% } %>
        
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <% if(locals.desc){ %>
            <input type="text" class="form-control" id="desc" name="desc" minlength="10" value = <%= desc %> >
        <% }else{ %>
        <input type="text" class="form-control" id="desc" name="desc" minlength="10"/>
        <% } %>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <% if(locals.price){ %>
            <input type="number" class="form-control" id="price" name="price" value = <%= price %> >
            <% }else{ %>
            <input type="number" class="form-control" id="price" name="price"/>
        <% } %>
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">Image Url</label>
        <% if(locals.imageUrl){ %>
            <input type="url" class="form-control" id="imageUrl" name="imageUrl"  value = <%= imageUrl %> >
            <% }else{ %>
            <input type="url" class="form-control" id="imageUrl" name="imageUrl"/>
        <% } %>
    </div>
    <button type="submit" class="btn btn-primary">
        <% if(locals.isEdit){ %>
            Edit Product
        <% }else{ %>
            Add Product
        <% } %>
    </button>
    </form>
</div>
   